@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Irish+Grover&display=swap');

html,
body {
    height: 100%;
}

.greetings,
p,
h1, 
h2 {
    font-family: 'Comfortaa', cursive;
}

.flex-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1920px;
    background-color: #e7f8e6;
    padding: 5px;
    height: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 25%;
    margin-bottom: 3em;
    background-color: #b1f5ad;
}

ul  {
    display: flex;
    list-style-type: none;
}

ul li {
    margin-right: 20px;
}

li a {
    text-decoration: none;
    font-family: 'Comfortaa', cursive;
    font-size: 1.5rem;
    color: #115516;
    font-weight: 800;
}

.logo img {
    width: 90px;
    height: 90px;
    margin-left: 10px;
}

.about_me {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.data {
    display: flex;
    align-items: center;
}

.fullname {
    margin-left: 200px;
    flex-basis: 1080px;
}

.myImg {
    width: 250px;
    height: 171px;
    margin-top: 150px;
    padding-left: 150px;
    flex-basis: 250px;
}

.knowledge {
    display: flex;   
    justify-content: center;
}

.article {
    margin-top: 2em;   
}

p {
    font-size: 1.2rem;
    color: #115516;
    padding-left: 20px;
}

.text {
    font-size: 1rem;
    color: #585858;
}

h2 {
    text-align: center;
    color: #08300b;
}

h1 {
    color: #08298A;
    text-align: center;
    font-size: 2rem;
}

.footer {
    background-color: #59ca88;
    flex: 0 0 auto;
}